<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolflix</title>
    <link rel="stylesheet" href="style.css">
    <!-- Importo file css -->
    <link rel="stylesheet" href="css/flag-icon.css">
    <link rel="stylesheet" href="css/flag-icon.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css"
        integrity="sha512-Cv93isQdFwaKBV+Z4X8kaVBYWHST58Xb/jVOcV9aRsGSArZsgAnFIhMpDoMDcFNoUtday1hdjn0nGp3+KZyyFw=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

</head>

<body>
    <div id="app">
        <input placeholder="cerca un film" v-model="query" @keyup.enter="utent_search(query)" type="text" name=""
            value="">
        <button @click="utent_search(query)" type="button" name="button">cerca</button>
        <div v-for="film in films">
            <p>Titolo: {{film.original_title}}</p>
            <p>Titolo Originale: {{film.title}}</p>
            <p>Lingua:{{film.original_language}}
                 <span id="flag"> <img :src="'flags/1x1/' + film.original_language +'.svg'"></span>
            </p>
            <p>Voto: {{film.vote_average*0.5}}
                <i :class="[index <= parseInt(film.vote_average)*0.5 ? solid : '']" v-for="index in 5"
                    class="far fa-star"></i>
            </p>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>