<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolflix</title>
    <link rel="stylesheet" href="style.css">
    <!-- Importo file css -->
    <link rel="stylesheet" href="css/flag-icon.css">
    <link rel="stylesheet" href="css/flag-icon.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css"
        integrity="sha512-Cv93isQdFwaKBV+Z4X8kaVBYWHST58Xb/jVOcV9aRsGSArZsgAnFIhMpDoMDcFNoUtday1hdjn0nGp3+KZyyFw=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

</head>

<body>
    <div class="container" id="app">
        <nav>
            <div class="nav-left">
                <div class="logo">
                    <img src="https://image.tmdb.org/t/p/w342/wwemzKWzjKYJFfCeiB57q3r4Bcm.png" alt="">
                </div>
            </div>
            <div class="nav-right">
                <input placeholder="cerca un film" v-model="query" @keyup.enter="utent_search(query)" type="text"
                    name="" value="">
                <button @click="utent_search(query)" type="button" name="button">cerca</button>
            </div>
        </nav>


        <div class="section-films">
            <div class="film-card" v-for="film in media">
                <div class="film-content">
                    <div class="img-box">
                          <!-- Aggiungo un v:bind sull'immagine e una width di 185 + la path recuperata su postman -->
                    <img v-if="film.poster_path !==null" :src="'https://image.tmdb.org/t/p/w185' + film.poster_path" alt="">
                    <!-- Aggiungo un'immagine not_found se la copertina non è disponibile -->
                    <img class="not_found" v-else="image: true" src="img/not_found.jpg" alt="">
                   
                    </div>
                     <div class="overlay">
                        <p v-if="film.media_type === 'movie'"><strong>Titolo:</strong> {{film.title}}</p>
                        <p v-if="film.media_type === 'tv'">Titolo: {{film.name}}</p>
                        <p v-if="film.media_type === 'movie'">Titolo Originale: {{film.original_title}}</p>
                        <p v-if="film.media_type === 'tv'">Titolo Originale: {{film.original_name}}</p>
                        <p>Tipo: {{film.media_type}}</p>
    
                        <!-- Ricerca bandiera per lingua -->
                        <span id="flag">Lingua: <img :src="'flags/1x1/' + film.original_language +'.svg'"></span>
                        </p>
                        <!-- Nascondo il voto in numero da 0 a 5 -->
                        <!-- {{film.vote_average*0.5}} -->
                        <p>Voto:
                            <!-- If ternario per stampare le stelle presenti -->
                            <i :class="[index <= parseInt(film.vote_average)*0.5 ? solid : '']" v-for="index in 5"
                                class="far fa-star"></i>
                        </p>
                        <p class="descrizione" v-if="film.media_type === 'movie'">Descrizione: {{film.overview}}</p>
                        <p class="descrizione" v-if="film.media_type === 'tv'">Descrizione: {{film.overview}}</p>
                     </div>
                   
                </div>
            </div>
        </div>


    </div>
    <script src="script.js"></script>
</body>

</html>